.hhr{
    background-color: brown;
    line-height: 60px;
    text-align: center;
    color: rgb(141, 153, 70);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    }
body{
    background-color:  rgb(182, 80, 80);;;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:  25px;
    text-transform: capitalize;
    text-decoration: solid;
    color: rgb(20, 9, 9);
    
}
.up{
    background-color:brown;
    color: rgb(141, 153, 70);
}
button{
    background-color: transparent;
    color:rgb(141, 153, 70) ;
    border-radius: 1opx;
}

button:hover{
    color: #000;
    background-color: aliceblue;
    border: #000;
    border-radius: 2px 2px 2px 2px;
    padding-left: 10px;
    transition: all 300ms;
}
.get{
    background-color: transparent;
    border-radius: 5px;
    border-bottom:#000 ;
    border-top: #000;
    border-left:#000;
    border-right:#000;

}
.get:hover{
    background-color: #fff;
}
.fit{
    background-color: transparent;
    border-radius:5px; 
    border-bottom:#000 ;
    border-top: #000;
    border-left:#000;
    border-right:#000;

}
.fit:hover{
    background-color: #fff;

}
.bbb{
    background-color: transparent;
    border-radius: 5px; 
    border-bottom:#000 ;
    border-top: #000;
    border-left:#000;
    border-right:#000;

}
.bbb:hover{
    background-color: #fff;
}
.lll{
    background-color: transparent;
    border-radius:5px; 
    border-bottom:#000 ;
    border-top: #000;
    border-left:#000;
    border-right:#000;
}
.lll:hover{
    background-color: #fff;
}
